{% extends "base.html" %}
{% block title %}Wrong password ({% endblock %}
{% block content %}
    <form action="#" method="post">
        <div class="row align-items-center">
            <h3>Please, input a new password:</h3>
        </div>
        <div class="row my-3 align-items-center">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Your email is {{ email if email }}</label>
        </div>
        <div class="row my-3 align-items-center">
            <label for="inputPassword6" class="col-form-label">
                <input id="inputPassword6" class="form-control form-control-lg"
                       aria-describedby="passwordHelpInline"
                       type="password" name="pswd"
                       placeholder="new password"/>
            </label>
        </div>
        <div class="row my-3 align-items-center offset 1">
            <button class="btn btn-primary" type="submit" name="submit">Вхід</button>
        </div>
    </form>
{% endblock %}
